.theme-updater-update-items-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.theme-updater-update-item { 
    border-radius: 10px;
    padding: 10px;
    background-color: var(--background-secondary);
    border: 1px solid var(--background-modifier-border);
}

.theme-updater-update-item-title {
    font-size: 1rem;
    font-weight: 500;
}

.theme-updater-update-item-button-split {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .theme-updater-update-item-button-split {
        flex-direction: column;
        gap: 8px;
        align-items: stretch;
    }
}